.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.actions-button {
  gap: 10px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: #404e69;
}

.contador {
  position: absolute;
  top: 50%;
  right: 30%;
  color: white;
  font-size: 3rem;
}

.hello-world {
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-name {
  font-size: 5rem;
  color: blueviolet;
}